.footerContainer {
  margin-top: 40px;
  background-color: #f0f5f9;
  padding-top: 60px;
  padding-bottom: 10px;
}

.footerContainer p {
  margin-bottom: 0;
}

.footerInnerContainer {
  height: 180px;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
}

.footerLinks {
  text-align: right;
}

@media (max-width: 750px) {
  .footerInnerContainer {
    height: 180px;
    justify-content: start;
  }

  .footerLinks {
    text-align: left;
  }
}
