body {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lato", sans-serif;
}

p {
  color: #78797b;
  font-size: 0.95em;
}

.container {
  position: relative;
  max-width: 1100px;
}

.MuiButton-containedPrimary {
  color: #fff;
  background-color: #0077ed !important;
}

.animate__animated.animate__delay-500ms {
  -webkit-animation-delay: 500ms;
  animation-delay: 500ms;
}

.animate__animated.animate__delay-1000ms {
  -webkit-animation-delay: 1000ms;
  animation-delay: 1000ms;
}

.animate__animated.animate__delay-1500ms {
  -webkit-animation-delay: 1500ms;
  animation-delay: 1500ms;
}

.animate__animated.animate__delay-1600ms {
  -webkit-animation-delay: 1600ms;
  animation-delay: 1600ms;
}

.animate__animated.animate__delay-1700ms {
  -webkit-animation-delay: 1700ms;
  animation-delay: 1700ms;
}

.animate__animated.animate__delay-1800ms {
  -webkit-animation-delay: 1800ms;
  animation-delay: 1800ms;
}

.animate__animated.animate__delay-1900ms {
  -webkit-animation-delay: 1900ms;
  animation-delay: 1900ms;
}

.animate__animated.animate__delay-2000ms {
  -webkit-animation-delay: 2000ms;
  animation-delay: 2000ms;
}
